<section id="speakers" class="speakers-section py-5 border-top">
  <div class="container">
    <h2 class="text-center mb-4">Speakers</h2>

    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <p class="lead">
          Confirmed Keynote Speaker:
        </p>
      </div>
    </div>

    <div class="speaker-list mx-auto" style="max-width: 600px;">

      <div class="speaker-card mb-3 bg-light">
        <div class="speaker-info text-center">
          <div class="speaker-name fw-semibold">Philippe Langlais</div>
          <div class="speaker-affiliation text-muted small mb-1">University of Montreal, Canada</div>
          <div class="speaker-role-tag small text-primary fw-bold">From analogical learning on formal analogies to diagnosing lexico-semantic limitations of LLMs</div>
          <p style="text-align: justify; margin-left: 0;"><b>Abstract.</b> In this talk, I will present three types of analogical studies I have been involved in. The first uses analogical learning on formal analogies to solve mapping problems (such as machine translation) and which presents specific algorithmic challenges. The second focusses on training (neural) models to solve (primarily) semantic analogies at the sentence level.  The third explores prompting large language models to assess their ability to capture fine-grained lexico-semantic information. Those studies, conducted over the past twenty years, reflect the evolution of Natural Language Processing -- from dedicated algorithms to prompting large language models.  </p>
          <p style="text-align: justify; margin-left: 0;"><b>Bio.</b> Philippe Langlais is a full professor at the Computer Science and Operational Research department of University of Montreal, working on Natural Language Processing at RALI. He did his Phd at University of Avignon (on the use of prosody in Speech Recognition). He visited IDIAP/Martigny for some years (collecting a large speech database), KTH/Stockholm (working on Speech Technology for 2nd Language Acquisition), and LIMSI/Paris-Orsay (now LISN). He his interested in many NLP related topics, including core-technology components (e.g. named-entity recognition, information extraction), and specific applications (e.g. Question-Answering, Machine Translation, Legal Prediction). </p>
        </div>
      </div>

       <div class="speaker-card mb-3 bg-light">
        <div class="speaker-info text-center">
          <div class="speaker-name fw-semibold">Francesca Toni</div>
          <div class="speaker-affiliation text-muted small mb-1">Imperial College London, UK</div>
          <div class="speaker-role-tag small text-primary fw-bold">Keynote Speaker</div>
        </div>
      </div>
     


    </div>
  </div>
</section>
