<section id="schedule" class="schedule-section py-5 border-top">
    <div class="container">

        <h2 class="text-center mb-4">Schedule</h2>

        <div class="text-center mb-4">
        <p>
            Proceedings are available here:
            <a href="/assets/proceedings_ceur_IARML_2025_1.pdf" target="_blank" class="text-decoration-none">
            <i class="bi bi-file-earmark-pdf-fill"></i> Download PDF
            </a>
        </p>
        </div>

        <div class="session">
            <span class="time">8:45–9:00</span>
            <span class="desc">Welcome</span>
            </div>

        <div class="session">
            <span class="time">9:00–10:00</span>
            <span class="desc">
            <strong>Invited talk by Philippe Langlais</strong> (University of Montreal)<br/>
            <em>From analogical learning on formal analogies to diagnosing lexico-semantic limitations of LLMs</em>
            </span>
        </div>

        <div class="session break">
            <span class="time">10:00–10:30</span>
            <span class="desc">Coffee Break</span>
        </div>

        <div class="session">
            <span class="time">10:30–12:00</span>
            <span class="desc">
            <strong>Contributed talks</strong>
            <ul>
                <li>A General Semantics for Analogical Reasoning (Emiliano Lorrini) <a href="/assets/slides/IJCAI2025_Analogy.pdf" target="_blank" class="text-decoration-none">
            <i class="bi bi-file-earmark-pdf-fill"></i> slides
            </a></li>
                <li>Towards number sequence completion through the analysis of number sequence patterns using numerical analogy (Yunhui Qi)</li>
                <li>Analogical pooling for image reconstruction (Miguel Couceiro)</li>
            </ul>
            </span>
        </div>

        <div class="session">
            <span class="time">13:30-14:30</span>
            <span class="desc">
            <strong>Invited talk by Francesca Toni</strong> (Imperial College London)<br/>
            <em>Computational Argumentation for Explainable Case-Based Predictions</em>
            </span>
        </div>

        <div class="session">
            <span class="time">14:30–15:30</span>
            <span class="desc">
            <strong>Contributed talks</strong>
            <ul>
                <li>Supported Abstract Argumentation for Case-Based Reasoning (Adam Gould)  <a href="/assets/slides/Supported-AA-CBR-IARML25.pdf" target="_blank" class="text-decoration-none">
            <i class="bi bi-file-earmark-pdf-fill"></i></a>slides</li>
                <li>A new approach to clustering based on an analogy-related logical proportion (Henri Prade)</li>
            </ul>
            </span>
        </div>

        <div class="session break">
            <span class="time">15:30–16:00</span>
            <span class="desc">Coffee Break</span>
        </div>


         <div class="session">
            <span class="time">16:00–16:30</span>
            <span class="desc">
            <strong>Contributed talks</strong>
            <ul>
                <li>Which Pairs to Choose? Exploring Analogical Competency for Knowledge Graph Pruning (Miguel Couceiro)</li>
            </ul>
            </span>
        </div>

        <div class="session">
            <span class="time">16:30–17:00</span>
            <span class="desc">
            <strong>Invited talk by Dafna Shahaf</strong> (Hebrew University of Jerusalem)<br/>
            <em>Analogy-Driven AI: A Neuro-Symbolic Approach</em>
            </span>
        </div>

        <div class="session closing">
            <span class="time">17:00–17:15</span>
            <span class="desc">Closing</span>
        </div>
    </div>
</section>
