<section id="schedule" class="schedule-section py-5 border-top">
    <div class="container">

        <h2 class="text-center mb-4">Schedule</h2>
        
        <div class="session">
            <span class="time">8h45–9h</span>
            <span class="desc">Welcome</span>
            </div>

        <div class="session">
            <span class="time">9h–10h</span>
            <span class="desc">
            <strong>Invited talk by Philippe Langlais</strong> (University of Montreal)<br/>
            <em>From analogical learning on formal analogies to diagnosing lexico-semantic limitations of LLMs</em>
            </span>
        </div>

        <div class="session break">
            <span class="time">10h–10h30</span>
            <span class="desc">Break & meet</span>
        </div>

        <div class="session">
            <span class="time">10h30–12h</span>
            <span class="desc">
            <strong>Contributed talks</strong>
            <ul>
                <li>A General Semantics for Analogical Reasoning (Emiliano)</li>
                <li>Towards number sequence completion through the analysis of number sequence patterns using numerical analogy (Yves)</li>
                <li>Analogical pooling for image reconstruction (Miguel)</li>
            </ul>
            </span>
        </div>

        <div class="session">
            <span class="time">13h30–14h30</span>
            <span class="desc">
            <strong>Invited talk by Francesca Toni</strong> (Imperial College London)<br/>
            <em>Computational Argumentation for Explainable Case-Based Predictions</em>
            </span>
        </div>

        <div class="session">
            <span class="time">14h30–16h</span>
            <span class="desc">
            <strong>Contributed talks</strong>
            <ul>
                <li>Supported Abstract Argumentation for Case-Based Reasoning (Adam)</li>
                <li>Which Pairs to Choose? Exploring Analogical Competency for Knowledge Graph Pruning (Miguel)</li>
                <li>A new approach to clustering based on an analogy-related logical proportion (Henri)</li>
            </ul>
            </span>
        </div>

        <div class="session break">
            <span class="time">16h–16h30</span>
            <span class="desc">Break & meet</span>
        </div>

        <div class="session">
            <span class="time">16h30–17h</span>
            <span class="desc"><strong>Invited talk by a surprise speaker!</strong></span>
        </div>

        <div class="session closing">
            <span class="time">17h–17h15</span>
            <span class="desc">Closing</span>
        </div>
    </div>
</section>