<div class="hero-banner d-flex align-items-center justify-content-center text-center text-white">
  <div class="hero-content">
    <h1>IARML@IJCAI2025</h1>

    <p class="subtitle">
      4th Workshop on the Interactions between Analogical Reasoning and Machine Learning
    </p>

    <p class="date-info">
      Montreal, Canada - August 17, 2025
    </p>
  </div>
</div>

<app-introduction></app-introduction>
<app-dates></app-dates>
<app-topics></app-topics>
<app-submission></app-submission>
<app-schedule></app-schedule>
<app-speakers></app-speakers>
<app-committee></app-committee>
